section {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

section:first-child h4 {
    color: blue;
}

section:nth-child(2) {
    border-bottom: 5px solid red;
}

section:nth-child(3) h3,
section:nth-child(3) li {
    color: red;
}

li>a {
    font-size: 25px;
}

h3+span {
    color: blue;
}

[alt] {
    border: 1px solid black;
    border-radius: 50%;
}

section:nth-child(7) p:hover{
    color:green;
}